body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  background-image: url('t1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  margin-top: 100px;
}

.todo-container {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border: 2px solid #007bff; 
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: darkblue;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item span {
  cursor: pointer;
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}

.todo-item button {
  background-color: #dc3545;
}

.todo-item button:hover {
  background-color: #c82333;
}

.todo-item-description {
  color: gray;
  font-size: 14px;
  margin-left: 10px;
}

.todo-item-checkbox {
  margin-right: 10px;
}
